<!DOCTYPE html>
<html lang="en" dir="ltr">    <!-- rtl //arabic lang-->
  <head>
    <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS <from website>-->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <!-- special stylesheet CSS <from my files>-->
     <link rel="stylesheet" href="style.css">

     <!-- page icon -->
     <link rel="icon" href="icon.ico">

     <title>Hello, world!</title>
  </head>
  <body>

<!--basic page container-->
<div class="container">      <!-- class="container-fluid" style="padding:0;" //full fill the width //bootstrap -->

<!-- navbar $search engine -->
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand font-weight-bold text-danger" href="#">brand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link font-weight-bold text-warning" href="#">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            list
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#">1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">1</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-warning" href="#">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-warning" href="#">contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search">
        <button class="btn btn-danger my-2 my-sm-0 text-warning" type="submit">search</button>
      </form>
    </div>
  </nav>
</header>

<!-- background picture and specify user -->
<section class="sec1">
  background picture
</section>

<!-- choose plan -->
<section class="sec2">
  choose plan
</section>

<!-- choose plan -->
<section class="sec3">
  plans
</section>

<!-- sign in/up -->
<section class="sec4">
  sign in/up
</section>

<!-- more photos collection -->
<section class="sec5">
  more photos collection
</section>

<!-- photos category -->
<section class="sec6">
  photos category
</section>

<!-- conclusion information -->
<section class="sec7">
  conclusion information
</section>

<!-- background picture & sign in/up -->
<section class="sec8">
  background picture & sign in/up
</section>

<!-- important links -->
<section class="sec9">
  <p class="info_paragraph">about us</p>
  <p class="info_paragraph">sections</p>
  <p class="info_paragraph">contact us</p>
</section>

<!-- footer -->
<section class="footer">
  <b>©all rights reserved</b>

   <button class="btn"><i class="fab fa-twitter-square fa-2x"></i></button>
   <button class="btn"><i class="fab fa-instagram fa-2x"></i></button>
   <button class="btn"><i class="fab fa-facebook-square fa-2x"></i></button>
   <button class="btn"><i class="fab fa-youtube-square fa-2x"></i></button>
   <button class="btn"><i class="fab fa-linkedin-in fa-2x"></i></i></button>
</section>

</div> <!--end of container-->

      <!-- link to jQuery then JavaScript <from my files> -->
     <script src="jquery-3.4.1.js"></script>
     <script src="index.js"></script>
     <!-- Optional JavaScript specific to bootstrap-->
     <!-- jQuery first, then Popper.js, then Bootstrap JS <from website>-->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <!--link icon in footer to website-->
     <script src="https://kit.fontawesome.com/30e6357a52.js" crossorigin="anonymous"></script>
  </body>
</html>
